.env
/out
/cache
/broadcast
/build
/cache_hardhat
/lib

/merkle-generator/target/
/merkle-generator/Cargo.lock

/merkle-ts/node_modules
/merkle-ts/yarn.lock
/merkle-ts/package-lock.json

/node_modules
hardhat.config.ts
script/CreateBuyOrder.s.sol
script/CreateBuyOrderEth.s.sol
script/DeployPresaleMainnet.s.sol
script/DeployPresaleTestnet.s.sol
test/STFX.t.sol
test/Presale.t.sol
test/Integration.t.sol
test/DeployedContracts.t.sol
test/BuyOrderEth.t.sol
src/STFX.sol
src/Presale.sol
src/interfaces/IAggregatorV3.sol
script/TransferTokensAfterClaim.s.sol
script/SetDuration.s.sol
script/StartClaim.s.sol
script/Helper.s.sol
script/Mint.s.sol
